/* Background for the entire site */

body {
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    max-width: 960px;
    margin: auto;
}

/* Some styling for the header  */

header {
    background: #ff8000;
    width: 100%;
    text-align: center;
    color: white;
    padding: 5px 0 5px 0;
    margin: 15px 0 10px 0;
   
}   

/* Some styling for the instructions section */

#instructions {
    background:#fff2e6;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color:green;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;    
}

h3 {
    background: #00cc99;   
    height: 60px;
    padding: 10px 0;    
}

/* Some styling for the crystals */

#crystals {    
    width: 100%;     
    margin-bottom: 10px;   
    background:#fff2e6;
}

/* Some styling for the User count */

#user-count {
    width: 100%;  
    padding: 8px 0 8px 0;
    margin-bottom: 10px;    
    background:#fff2e6;
}

/* Some styling for the button to start a new game  */

#new-game-button {
    position: relative;
    left: 32%;
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    background-color: #ff8000;    
    font-size: 22px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 6px #5f5f5e;
    margin-bottom: 20px;
}